<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello there</h1>
    <div class="card search">
            <h1 class="search-headline">Artist Directory</h1>
            <label class="search-label">Search <span *ngIf="name" [innerHTML]="'for: '+name"></span></label><br>
            <input class="serach-input" type="text" #newArtist [value]="name" (input)="name=$event.target.value" (keyup.enter)="addArtist(newArtist.Value);newArtist.value=''" [value]="name">
            <button class="btn" (click)="addArtist(newArtist.value);newArtist.value=''">Add</button>
            <ul class="artistlist cf">
                <li class="artistlist-item cf"
                #artistContainer
                (click)="onClick(item,artistContainer)"
                *ngFor="let item of artists">
                    <h2 class="artist-name">{{item.name}}</h2>
                    <h3 class="artist-reknown">{{item.school}}</h3>
                </li>
            </ul>
        </div><!-- card search-->
</body>
</html>